
.university-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: left;
}

.university-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: aquamarine;
} 
